

.product-container{
    border-right: 1px solid grey;
}

.row{
    margin: 0 !important;
}

@media(max-width:767px){
    .cart-details{
        order: 1;
    }
    .product-container{
        order: 2;
    }
}