button{
    background-color: goldenrod;
    padding: 5px 10px;
    border-radius: 5px;
}

.review-btn{
    text-align: center;
}

.red{
    color: red;
}

.left{
    text-align: left;
}

.right{
    float: right;
}

small{
    display: block;
    color: black;
}

.center{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.order-details{
    margin-top: 10px;
}

.order-details p{
    margin: 0 !important;
}

.cart-container{
    padding: 2rem;
}